.card_2{
    text-align: left; 
    padding: 50px 0;
}

.card_verde{
    width: 70%;
    height: 60%;
    background-color: #44A1A0;
    margin: 40px auto 0;
    border-radius: 8px;
    padding: 30px
}

.about-us-title{
    font-size: 35px;
    font-family: var(--font-merienda);
    line-height: 59px;
}

.decoration-title{
    display: flex;
}

.pizza-image{
    object-fit: contain;
    width: 60px;
    margin-left: 15px;
}

.container-text{
    margin-top: 20px;
}

.about-us-text{
    text-align: left;   
    font-size: 120%;
    font-family: 'Gill Sans', 'Gill Sans MT','Trebuchet MS', sans-serif;
    margin-bottom: 46px;
}

